.features {
  text-align: center;

  background-color: #f2f2f2;
  background-size: calc(100% + 30px) auto;
  background-position-x: -15px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
}

.features__container {
  width: 320px;
  margin: 0 auto;
  padding: 80px 20px 290px 20px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 108%;
}

.features__list {
  .ls-reset();
}

.features__list-item {
  margin-bottom: 33px;
}

.features__title {
  margin: 0;
  padding-bottom: 10px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.features__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: @base-color;
}

@media (min-width: @tablet-width) {
  .features__container {
    display: flex;
    justify-content: flex-end;
    width: 660px;
    padding: 76px 20px 5px 20px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 20px 5px;
  }

  .features__list {
    width: 310px;

    text-align: left;
  }

  .features__list-item {
    margin-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .features__container {
    display: block;
    width: 960px;
    padding: 353px 20px 70px 20px;

    background-image: url("../img/iphone-screen-1-desktop@1x.png"),
      url("../img/iphone-screen-2-desktop@1x.png"),
      url("../img/iphone-screen-3-desktop@1x.png");
    background-position: 0 0, 50% 0, 100% 0;
  }

  .features__list {
    display: flex;
    width: 940px;

    text-align: center;
  }

  .features__list-item:nth-child(1) {
    width: 240px;
    margin-right: 110px;
  }

  .features__list-item:nth-child(2) {
    width: 214px;
    margin-right: 135px;
  }

  .features__list-item:nth-child(3) {
    width: 193px;
  }

  .features__description {
    padding: 0;
  }
}
