.filter {
  background-color: #f2f2f2;
  padding-bottom: 41px;
}

.filter__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.filter__img {
  display: block;
  width: 280px;
  height: 374px;

  outline: 2px dashed red;
}

.filter__list {
  .ls-reset();
}

@media (min-width: @tablet-width) {
  .filter__container {
    width: 660px;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .filter__container {
    width: 960px;
    padding: 0 10px;
  }
}
