.gallery__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.foto {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  color: @base-color;

  background-color: #f2f2f2;
}

.gallery__message {
  width: 280px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 55px;

  line-height: 30px;
  text-align: center;
}

.foto__link {
  display: block;
  width: 280px;
  height: 180px;
  margin-bottom: 23px;

  outline: 2px dashed red;
}

.foto__link--panorama {
  position: relative;

  width: auto;
  max-width: 320px;
  height: 137px;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
  outline: 2px dashed red;
}

.foto__blockquote {
  margin: 0 0 18px 0;
  padding: 0 18px;
}

.foto__author-name {
  font-weight: 700;
  font-style: normal;
}

.foto__time {
  font-size: 12px;
  text-transform: uppercase;
}

.foto__text {
  margin: 0;
}

.foto__likes {
  position: relative;

  padding: 0 18px 0 50px;

  font-size: 12px;
  color: @pink-color;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 18px;

    width: 13px;
    height: 12px;

    background: url("../img/icon-heart.svg") no-repeat 50% 50%;
  }
}

@media (min-width: @tablet-width) {
  .foto__container {
    width: 660px;
    padding: 0 20px;
  }

  .foto__message {
    width: 440px;

    font-size: 18px;
  }

  .foto__list {
    display: flex;
    flex-wrap: wrap;
  }

  .foto__list-item {
    width: 300px;
    margin-bottom: 20px;
  }

  .foto__list-item:nth-child(even) {
    margin-right: 20px;
  }

  .foto__list-item:first-child {
    width: 620px;
    margin-bottom: 50px;
  }

  .foto__list-img {
    width: 300px;
    height: 300px;
  }

  .foto__list-img--panorama {
    width: 660px;
    height: 509px;
  }
}

@media (min-width: @desktop-width) {
  .foto__container {
    width: 960px;
    padding: 0 10px;
  }

  .foto__message {
    width: 572px;
  }

  .foto__list {
    display: flex;
    flex-wrap: wrap;
  }

  .foto__list-item {
    width: 300px;
  }

  .foto__list-item:first-child {
    width: 960px;
  }
}
