.map__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .map__container {
    width: 660px;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .map__container {
    width: 960px;
    padding: 0 10px;
  }
}
