.page-header {
  position: relative;
  z-index: 10;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-right: 19px;
  padding-bottom: 17px;
  padding-left: 20px;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__button {
  padding: 0;

  color: #ffffff;

  background-color: transparent;
  border: none;
}

.page-header__top--closed .page-header__button {
  width: 50px;
  height: 24px;

  background-image: url("../img/icon-menu-burger.svg");
}

.page-header__top--opened,
.page-header__top--nojs {
  background-color: @base-color;
}

.page-header__top--opened .page-header__button {
  width: 24px;
  height: 23px;

  background-image: url("../img/icon-menu-cross.svg");
}

.page-header__top--opened + .main-nav {
  display: block;
}

.page-header__top--nojs .page-header__button {
  display: none;
}

.page-header__top--nojs + .main-nav {
  display: block;
}

@media (max-width: @mobile-tablet-width-only) {
  .page-header__top--closed + .main-nav {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header__top {
    padding-top: 39.7px;
    padding-bottom: 38.7px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__container {
    width: 940px;
    margin: 0 auto;
    padding: 39.7px 10px 38.7px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .page-header__top {
    padding: 0;
  }

  .page-header__button {
    display: none;
  }
}
