.page-header {
  position: relative;
  z-index: 10;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-right: 19px;
  padding-bottom: 19px;
  padding-left: 20px;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__top--opened,
.page-header__top--nojs {
  background-color: @base-color;
}

.page-header__button {
  padding: 0;

  background-color: transparent;
  border: none;
}

.page-header__button svg {
  fill: #ffffff;
}

.page-header__button:hover svg {
  fill: @pink-color;
}

.page-header__button:active svg {
  fill: @pink-color;
  opacity: 0.3;
}

.page-header__top--closed .page-header__button {
  width: 50px;
  height: 24px;
}

.page-header__top--closed .page-header__button-cross {
  display: none;
}

.page-header__top--opened .page-header__button-burger {
  display: none;
}

.page-header__top--opened .page-header__button {
  width: 24px;
  height: 23px;
}

.page-header__top--opened + .main-nav {
  display: block;
}

.page-header__top--nojs .page-header__button {
  display: none;
}

.page-header__top--nojs + .main-nav {
  display: block;
}

.page-header__logo svg {
  fill: #ffffff;
}

.page-header__logo:hover svg {
  fill: @pink-color;
}

.page-header__logo:active svg {
  fill: #ffffff;
  opacity: 0.3;
}

.page-header__logo-svg--tablet,
.page-header__logo-svg--desktop {
  display: none;
}

@media (max-width: @mobile-tablet-width-only) {
  .page-header__top--closed + .main-nav {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header__top {
    padding-top: 25.7px;
    padding-bottom: 38.7px;
  }

  .page-header__button {
    align-self: flex-end;
  }

  .page-header__logo-svg--mobile {
    display: none;
  }

  .page-header__logo-svg--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__container {
    width: 960px;
    margin: 0 auto;
    padding: 24.7px 10px 39.7px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .page-header__top {
    padding: 0;
  }

  .page-header__button {
    display: none;
  }

  .page-header__logo-svg--tablet {
    display: none;
  }

  .page-header__logo-svg--desktop {
    display: block;
  }
}
