.preview {
  background-color: @base-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.preview__container {
  position: relative;

  width: 320px;
  min-height: 470px; /*временно*/
  margin: 0 auto;
  padding: 0 20px;
}

.preview__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .preview {
    background: none;
  }
}
