.promo {
  margin-top: -74px;
}

@media (min-width: @tablet-width) {
  .promo {
    margin-top: -110px;

    background-color: @base-color;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  .promo__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 660px;
    margin: 0 auto;
    padding: 0 20px 76px 20px;
    min-height: 620px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-color: @base-color;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  .promo__container {
    width: 960px;
    padding: 0 10px;
  }
}
