.share-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 71px 0 0 0;
}

.share-buttons__post,
.share-buttons__abort {
  width: 280px;
  padding-top: 17px;
  padding-bottom: 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  background-color: transparent;
  border: solid 3px;
  border-radius: 100px;
}

.share-buttons__post {
  margin-bottom: 12px;
  color: @pink-color;

  border-color: @pink-color;

  &:hover {
    color: #ffffff;

    background-color: @pink-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: @pink-color;
  }
}

.share-buttons__abort {
  color: rgba(40, 54, 69, 0.1);

  border-color: rgba(40, 54, 69, 0.1);

  &:hover {
    color: rgba(40, 54, 69, 0.3);

    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: rgba(40, 54, 69, 1);
    border-color: rgba(40, 54, 69, 1);
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .share-buttons {
    padding: 66px 0 0 0;
  }

  .share-buttons__post,
  .share-buttons__abort {
    width: 260px;
  }

  .share-buttons__post {
    margin-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .share-buttons {
    flex-direction: row;
    justify-content: space-between;
    padding: 144px 0 0 0;
  }

  .share-buttons__post,
  .share-buttons__abort {
    width: 184px;
  }

  .share-buttons__post {
    margin-bottom: 0;
  }
}
