.user-app {
  order: 2;

  background-color: #f2f2f2;
}

.user-app__container {
  width: 320px;
  margin: 0 auto;
  padding: 39px 20px 7px 20px;
}

.user-app__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.user-app__legend {
  margin-bottom: 36px;

  font-size: 14px;
  line-height: 18px;
  color: @pink-color;
  text-align: center;
  text-transform: uppercase;
}

.user-app__list {
  .ls-reset();
}

.user-app__item {
  margin-bottom: 35px;
}

.user-app__label {
  position: relative;

  display: block;
  padding: 5px 10px 5px 70px;

  font-size: 18px;
  line-height: 30px;
  color: @base-color;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 40px;
    height: 40px;

    border: solid 2px #e5e5e5;
    border-radius: 50%;
  }
}

.user-app__label:hover::before {
  border-color: @base-color;
}

.user-app__label:active::before {
  border-color: @pink-color;
}

.user-app__input:checked + .user-app__radio-indicator {
  position: absolute;
  left: 12px;
  top: 12px;

  width: 15px;
  height: 15px;

  background-color: @pink-color;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .user-app {
    background-color: #ffffff;
  }

  .user-app__container {
    width: 660px;
    padding: 0 20px 56px 20px;
  }

  .user-app__fieldset {
    padding-bottom: 19px;

    border: 2px solid #e5e5e5;
  }

  .user-app__legend {
    margin-bottom: 45px;
  }

  .user-app__label {
    padding-left: 119px;
  }

  .user-app__label::before {
    left: 60px;
  }

  .user-app__input:checked + .user-app__radio-indicator {
    left: 72px;
  }
}

@media (min-width: @desktop-width) {
  .user-app__container {
    width: 436px;
    padding: 0;
  }

  .user-app__label {
    padding-left: 134px;
  }

  .user-app__label::before {
    left: 75px;
  }

  .user-app__input:checked + .user-app__radio-indicator {
    left: 87px;
  }
}
