.user-emotions {
  order: 5;
}

.user-emotions__container {
  width: 320px;
  margin: 0 auto;
  padding: 36px 20px 0 20px;
}

.user-emotions__label {
  display: block;
  margin-bottom: 18px;

  font-size: 14px;
  line-height: 18px;
  color: @pink-color;
  text-align: center;
  text-transform: uppercase;
}

.user-emotions__textarea {
  width: 280px;
  min-height: 200px;
  margin-bottom: 44px;
  padding: 14px 5px 5px 18px;

  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: @base-color;

  border: solid 2px #e5e5e5;
}

.user-emotions__textarea::placeholder {
  color: @base-color;
}

@media (min-width: @tablet-width) {
  .user-emotions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    padding: 0 20px;
  }

  .user-emotions__textarea {
    width: 496px;
  }
}

@media (min-width: @desktop-width) {
  .user-emotions__container {
    width: 960px;
    padding: 0;
  }

  .user-emotions__textarea {
    width: 496px;
  }
}
